.searchBox {
    background-color: #444950;
    border-radius: 1rem;
    padding: 0.5rem;
}

.searchBox form {
    display: flex;
}

.searchBox input {
    background-color: inherit;
    border-width: 0;
    font-size: 1rem;
    color: #03dac5;
}
.searchBox input:focus {
    outline: none;
}
